@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --color-background: #ffffff;
  --color-foreground: #000;
  --color-muted-foreground: #958E8E;
  --color-muted-border: #E3E3E3;
  --color-primary: #1455AC;
  --color-secondary: #3B82F6;
}

:root{
  --background: #ffffff;
  --foreground: #000;
  --muted-foreground: #958E8E;
  --muted-border: #E3E3E3;
  --primary: #1455AC;
  --secondary: #3B82F6;
}