@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-border: var(--muted-border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --background: #ffffff;
  --foreground: #000;
  --muted-foreground: #958E8E;
  --muted-border: #E3E3E3;
  --primary: #1455AC;
  --secondary: #3B82F6;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}